<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="cell-container" [style.width.px]="side*32">
<app-cell  [x]="cell.x" [y]="cell.y" [selected]="cell.selected" [canBeSelected]="cell.canBeSelected" [side]="side" [number]="cell.number" *ngFor="let cell of cells" (click)="onSelect(cell)"></app-cell>
  <button (click)="resolve(0)">Resolve!</button>
  <button (click)="resolveAsync()">Resolve Async!</button>
</div>

